<h1>
  Add a new base ingredient
</h1>


<hr>

<!-- Form base_ingredient start -->
<form action="/create_base_ingredient" method="post">
<!-- Form base_ingredient end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for calories start -->
  <div class="form-group">
    <label for="calories">
      Calories
    </label>

    <!-- Input for calories start -->
    <input type="text" id="calories" name="calories" class="form-control">
    <!-- Input for calories end -->
  </div>
  <!-- Label and input for calories end -->

  <!-- Label and input for proteins start -->
  <div class="form-group">
    <label for="proteins">
      Proteins
    </label>

    <!-- Input for proteins start -->
    <input type="text" id="proteins" name="proteins" class="form-control">
    <!-- Input for proteins end -->
  </div>
  <!-- Label and input for proteins end -->

  <!-- Label and input for fats start -->
  <div class="form-group">
    <label for="fats">
      Fats
    </label>

    <!-- Input for fats start -->
    <input type="text" id="fats" name="fats" class="form-control">
    <!-- Input for fats end -->
  </div>
  <!-- Label and input for fats end -->

  <!-- Label and input for carbohydrates start -->
  <div class="form-group">
    <label for="carbohydrates">
      Carbohydrates
    </label>

    <!-- Input for carbohydrates start -->
    <input type="text" id="carbohydrates" name="carbohydrates" class="form-control">
    <!-- Input for carbohydrates end -->
  </div>
  <!-- Label and input for carbohydrates end -->

  <button class="btn btn-block btn-outline-secondary">
    Create base ingredient
  </button>
</form>

<hr>

<a href="/base_ingredients">
  Go back
</a>
