<% if @meal.present? %>
  <% if @meal.errors.any? %>
    <% @meal.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new meal
</h1>


<hr>

<form action="/create_meal" method="post">

  <div class="form-group">
    <label for="eater">
      Eater
    </label>

    <input type="text" id="eater" name="eater" class="form-control" value="<%= @meal.eater %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create meal
  </button>
</form>

<hr>

<a href="/meals">
  Go back
</a>
